:root {
    --primary-color: rgb(229, 57, 70);
    --secondary-color: rgb(69, 131, 239);
    --header-color: rgb(15, 15, 15);
    --text-color: rgb(127,127,127);
    --bg-color: rgb(227, 228, 229);
}


*{
    /* border-radius: 0px !important; */
}

.primary-color{
    color:var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}
.text-color{
    color:var(--text-color);
}
.bg-color{
    color:var(--bg-color);
}

.btn-main{
    background-color:var(--primary-color);
    padding: 3px 25px;
    border-radius: 3px !important;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 0rem 1rem rgba(15, 15, 15,.25)!important;
}
.btn-main:hover{
    background-color:rgb(216, 43, 43);
    color: #fff;
}

.btn-secondary-color{
    background-color:var(--secondary-color);
    padding: 3px 25px;
    border-radius: 3px !important;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 0rem 1rem rgba(15, 15, 15,.25)!important;
}
.btn-secondary-color:hover{
    background-color:rgb(50, 117, 233);
    color: #fff;
}

body > section{
    background-color: var(--bg-color);
}
.shadow{
    box-shadow: 0 .5rem 2rem rgba(15, 15, 15,.25)!important;
}
/* PAGE BANNER */
    .page-banner{
        width:100%; 
        height: 170px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    .page-banner .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(2, 6, 41, 0.3);
    }
    .page-banner .overlay .title{
        font-weight: bold;
        font-size: 40px;
        color: white;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 30%;
        text-transform: uppercase;
    }
/* END PAGE BANNER */

/* SECTION TITLE */
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    padding:0px;
    color: var(--secondary-color);
    border-bottom: 1px solid rgba(0,0,0,.2);
    min-width: 200px;
    max-width: 250px;
    margin: auto;
    margin-bottom: 40px;
    text-transform: uppercase;
}
/* SECTION TITLE */

/* SIDEBAR CONTENT */
.sidebar .item .card-header,
.sidebar .item .card-body{
    text-align: center;
    background:var(--secondary-color);
    color:white;
}
.sidebar .item .card-body{
    font-size: 30px;
}
.sidebar .item .card-body .account .title{
    font-size: 14px;
    margin-bottom: 5px;
}
.sidebar .item .card-body .account .text{
    font-size: 20px;
}
/* END SIDEBAR CONTENT */

/* VIEW MORE */
    .view-more{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .view-more a{
        color: var(--secondary-color);
        text-decoration: none;
        text-align: center;
        opacity: .8;
        padding: 5px;
        border-bottom: .5px solid rgb(78, 130, 226);
    }
/* END VIEW MORE */

/* NAV BAR */
    #navbar{
        padding-top:0px;
        padding-bottom: 0px;
    }
    @media only screen and (min-width:992px){
        #navbar .nav-item{
            padding: 10px 0px 10px 0px;
        }
        #navbar .container-fluid{
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    
    #navbar .navbar-brand img{
        height: 90px;
    }
    #navbar.navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #navbar.navbar-light .navbar-toggler:focus{
        outline: none;
    }
    #navbar .nav-item .nav-link{
        padding:19px 20px 10px 20px;
        font-weight: bold;
        border-top: .5px solid rgba(15, 15, 15,.1);
    }
    #navbar.navbar-light .navbar-nav .nav-link:not(:last-child){
        color: var(--secondary-color);
        opacity: .7;
    }
    #navbar.navbar-light .navbar-nav .nav-link.active{  
        border-top: 4px solid var(--secondary-color);
        color: var(--secondary-color);
        padding-top: 15px;
    }

    #navbar .navbar-nav.small .nav-item{
        padding: 10px 10px 0px 10px;
        margin: auto;
        font-weight: bold;
    }

    #navbar .navbar-nav.small .nav-item.language{
        position: relative;
    }
    #navbar .navbar-nav.small .nav-item.language .dropdown-menu{
        top: 130%;
    }
    #navbar .navbar-nav.small .nav-item.language .dropdown-menu .dropdown-item{
        font-size: 14px;
    }
    #navbar .navbar-top{
        border-bottom: 1px solid var(--text-color);
    }
    #navbar .navbar-nav.navbar-top-menu{
        padding: 5px;
    }
    #navbar .navbar-nav.navbar-top-menu .nav-item{
        margin: auto;
        padding: 0px 10px;
    }
    #navbar .navbar-nav.navbar-top-menu .nav-item.language{
        font-size:12px;
    }
    #navbar .navbar-nav.navbar-top-menu .nav-item .btn-main{
        padding: 3px 10px;
        font-size: 12px;
    }
    #navbar .navbar-nav.navbar-top-menu .dropdown-menu{
        position: absolute;
        top: 35px;
        left: inherit;
        right: inherit;
    }
    #navbar .navbar-nav.navbar-top-menu .dropdown-menu .dropdown-item{
        font-size: 14px;
    }

/* END NAV BAR */


/* HOMEPAGE */
    #homepage .carousel-inner .carousel-item{
        width:100%; 
        height: 550px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #homepage .carousel-inner .carousel-item .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(15, 15, 15, 0.7);
    }
    #homepage .carousel-inner .carousel-item .carousel-caption{
        bottom: 30%;
    }
    #homepage .carousel-inner .carousel-item .carousel-caption .description{
        color: var(--bg-color);
        opacity: .8;
    }
    #homepage .carousel-indicators li{
        border-radius: 50% !important;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #eee
    }
    #homepage .carousel-indicators li.active{
        width: 15px;
        height: 15px;
        background-color: #fff;
        margin-top: -3px;
    }
    /* .carousel-control-prev-icon {
        background-image: url("/client/images/ic-arrow-left.svg");
        background-size: 20px;
    }
    .carousel-control-next-icon {
        background-image: url("/client/images/ic-arrow-right.svg");
    } */
    #homepage .carousel:hover .carousel-control-next,
    #homepage .carousel:hover .carousel-control-prev{
        display: flex;
    }
    #homepage .carousel .carousel-control-next, 
    #homepage .carousel .carousel-control-prev{
        width: 40px;
        height: 40px;
        top: 45%;
        opacity: 1;
        border:2px solid white;
        transition: all 0.3s ease;
        border-radius: 50%;
    }
    #homepage .carousel .carousel-control-next{
        right: 50px;
    }
    #homepage .carousel .carousel-control-prev{
        left: 50px;
    }
    #homepage .carousel .carousel-control-next:hover,
    #homepage .carousel .carousel-control-prev:hover{
        background-color: var(--primary-color);
    }

    #homepage .our-vision{
        margin-top: 20px;
    }
    #homepage .our-vision .content{
        padding:30px 30px 0px 30px;
    }
    #homepage .our-vision .content .item,
    #homepage .our-mission .content .item{
        border-radius: 0px;
    }
    #homepage .our-vision .content .item-container:nth-child(2n + 2) .item,
    #homepage .our-mission .content .item-container:nth-child(2n + 2) .item{
        background-color: var(--primary-color);
        color: white !important;
    }
    /* #homepage .our-vision .content .item-container:nth-child(2n + 2) .item{
        background-color: var(--secondary-color);
        color: white;
    } */

    #homepage .our-vision .content .item-container,
    #homepage .our-mission .content .item-container{
        /* display: flex;
        flex-wrap: wrap; */
        margin-bottom: 30px;
    }
    #homepage .our-vision .content .item .card-header,
    #homepage .our-mission .content .item .card-header{
        background:none;
        /* margin:0px 10px; */
        font-weight: bold;
        font-size: 34px;
    }
    #homepage .our-vision .content .item .card-body .card-text{
        /* text-align: justify; */
    }

    #homepage .our-mission{
        position: relative;
        z-index: 999;
    }
    #homepage .our-mission .content .item{
        width:100%; 
        height: 400px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #homepage .our-mission .content .item .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        padding:40px;
    }
    #homepage .our-mission .content .item.first .overlay{
        background: rgb(229, 57, 70, 0.7);
    }
    #homepage .our-mission .content .item.second .overlay{
        background: rgb(69, 131, 239, 0.7);
    }
    #homepage .our-mission .content .item .card-title{
        font-weight: 600;
        text-align: center;
        font-size: 20px;
        color: white;
        height: 100%;
        padding: 30px;
        border: 2px solid white;
    }

    #homepage .event{
        position: relative;
        z-index: 99;
    }
    #homepage .event .item{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #homepage .event .item .image{
        width:100%; 
        min-height: 100px;
        height: 220px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #homepage .event .item .info{
        height: 100%;
    }
    #homepage .event .item .info .title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 20px;
        /* text-align: justify; */
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        display: -webkit-box;
    }
    #homepage .event .item .info .title a{
        color:rgb(70, 70, 70);
    }
    #homepage .event .item .info .title a:hover{
        color:var(--header-color);
    }
    #homepage .event .item .info .description{
        font-size: 15px;
        color: var(--text-color);
        line-height: 20px;
        /* text-align: justify; */
        height: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        white-space: normal;
        display: -webkit-box;
    }

    #homepage .partner{
        margin-top: 20px;
    }
    #homepage .partner .item{
        border: 2px solid white;
    }

    #homepage .gallery{
        margin-top: 20px;
    }
    #homepage .gallery .item{
        margin-bottom: 30px;
        padding: 3px;
    }
/* END HOMEPAGE */

/* START GALLERY */
    #gallery{
        padding:20px 0px;
    }
    #gallery .item{
        margin-bottom: 0px;
        border: none;
        border-radius: 0px;
    }
    #gallery .item .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        left: 0px;
        background: rgba(3, 0, 17, 0.3);
        transition: all 0.5s ease;
    }
    #gallery .item .overlay .title{
        font-weight: bold;
        font-size: 24px;
        color: white;
        opacity: .9;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #gallery .item .overlay:hover{
        background: rgba(3, 0, 17, 0.7);
    }
    #gallery .item .overlay:hover .title{
        opacity: 1;
    }
/* END GALLERY */

/* START EVENT */
    #event{
        padding: 20px 0px;
    }
    #event .item .image{
        width:100%; 
        min-height: 100px;
        height: 180px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #event .item .info{
        height: 100%;
    }
    #event .item .info .title{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        line-height: 18px;
        /* text-align: justify; */
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        display: -webkit-box;
    }
    #event .item .info .title a,
    #event .item.main .info .title a{
        color:rgb(70, 70, 70);
    }
    #event .item .info .title a:hover,
    #event .item.main .info .title a:hover{
        color:var(--header-color);
    }
    #event .item .info .date{
        font-size: 13px;
        color: var(--text-color);
        border-bottom: 0.5px solid var(--bg-color);
        padding-bottom: 2px;
        margin-bottom: 7px;
    }
    #event .item .info .description{
        font-size: 15px;
        color: var(--text-color);
        line-height: 17px;
        /* text-align: justify; */
        height: 104px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        white-space: normal;
        display: -webkit-box;
    }  
    #event .item.main .image{
        height: 300px;
    }
    #event .item.main .info .title{
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 26px;
        height: 55px;
        -webkit-line-clamp: 2;
    }
    #event .item.main .info .date{
        font-size: 16px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    #event .item.main .info .description{
        font-size: 18px;
        height: 195px;
        line-height: 24px;
        -webkit-line-clamp: 8;
    } 
    #event-detail{
        background-color:rgb(230,230, 230);
    }
    #event-detail{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #event-detail .main-section hr{
        border-bottom: 2px solid var(--primary-color)
    }

    #event-detail .main-section .title{
        line-height: 35px;
        font-size: 24px;
        color: var(--primary-color)
    }
    #event-detail .main-section .description{
        font-size: 15px;
        line-height: 25px;
    }
    #event-detail .main-section .description table tr td:first-child{
        width: 120px;
    }

    #event-detail .side-section .heading{
        font-size: 18px;
        line-height: 35px;
        border-bottom: 2px solid var(--primary-color)
    }
    #event-detail .side-section .card .content .item{
        font-size: 15px;
        font-weight: bold;
        line-height: 22px;
        opacity: .8;
        color: #111;
    }
    #event-detail .side-section .card .content .item:hover{
        opacity: 1;
    }
/* END EVENT */

/* START ABOUT */
    #about .our-story{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #about .member{
        width:100%; 
        height: 580px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #about .member .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: rgba(2, 3, 54, 0.5);
        transition: all 0.5s ease;
        padding:15px;
    }
    #about .member .title{
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-bottom:70px;
    }
    #about .member .item img{
        border-radius: 50%;
        border:4px solid white;
    }
    #about .member .item .info{
        text-align: center;
        color: white;
        margin-top: 10px;
        text-transform: uppercase;
    }
    #about .member .item .info .name{
        font-size: 20px;
    }
    #about .member .item .info .position{
        color: lightgray;
        font-size: 14px;
    }
    #about .member-signin{
        margin-top: -120px;
    }
    #about .vision .item{
        margin-bottom: 20px;
    }
    #about .vision .item .title{
        border-bottom: 0.5px solid var(--text-color);
    }
    #about .vision .item .title .no{
        color: var(--primary-color);
        font-size: 36px;
        font-weight: bold;
        vertical-align: middle;
        margin-right: 20px;
    }
    #about .vision .item .title .text{
        color: var(--header-color);
        font-weight: bold;
        font-size: 20px;
        vertical-align: middle;
    }
    #about .vision .item .description{
        color: rgb(100, 100, 100);
        margin-top: 10px;
        /* text-align: justify; */
    }
/* END ABOUT */

/* START REGISTER */
    #register{
        padding:20px 0px;
    }
    #register .section-title{
        min-width: 250px;
        max-width: 300px;
    }
    /* #register input{
        border:none;
        border-bottom: 1px solid var(--text-color);
        border-radius: 0px;
        height: 20px;

    } */
    #register input:focus{
        outline: none;
    }
/* END REGISTER */

/* FOOTER */
    .footer{
        width:100%; 
        height: 380px;  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    .footer .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        /* background: rgba(15,15,15, 0.7); */
        transition: all 0.5s ease;
        padding:15px;
    }
    .footer .container{
        padding-top: 10px;
    }
    .footer .title{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
    
    }
    .footer .info{
        margin-bottom: 30px;
    }
    .footer .list-group{
        list-style-type: none;
    }
    .footer .list-group li{
        color: rgb(200, 200, 200);
        padding: 10px 20px;
    }
    
    .footer .list-group li i {
        vertical-align: middle;
    }
    .footer .social-media{
        padding-top:15px;
        padding-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255,.4);
        border-bottom: 1px solid rgba(255, 255, 255,.4);
    }
    .footer .social-media a{
        text-decoration: none;
        color: rgb(200, 200, 200);
    }
    .footer .social-media{
        margin-bottom: 15px;
    }
    .footer .copy-right{
        color: rgb(200, 200, 200);
    }
/* END FOOTER */

@media only screen and (max-width:1199px){
    /* EVENT */
        #event .item .image,
        #event .item.main .image{
            height: 220px;
        }
        #event .item .info .title a,
        #event .item.main .info .title a{
            font-size: 18px;
            margin-bottom: 7px;
            line-height: 22px;
            height: 45px;
            color:var(--header-color);
        }
        #event .item .info .date,
        #event .item.main .info .date{
            font-size: 15px;
            padding-bottom: 5px;
            margin-bottom: 8px;
        }
        #event .item .info .description,
        #event .item.main .info .description{
            font-size: 16px;
            line-height: 22px;
            height: 135px;
            -webkit-line-clamp: 6;
        }  
    /* END EVENT */
}
@media only screen and (max-width:991px){
    /* NAVBAR */
        #navbar .navbar-brand img{
            height: 60px;
        }
        #navbar{
            padding-left:0px;
            padding-right: 0px;
        }
        #navbar .navbar-brand{
            padding-left: 30px;
        }
        #navbar.navbar-light .navbar-toggler{
            margin-right: 30px;
        }
        #navbar .navbar-nav.navbar-menu{
            margin-top:10px;
            margin-bottom: 15px;
            padding-top: 10px;
            border-top: 2px solid var(--secondary-color);
        }
        #navbar .navbar-nav .nav-item.active{
            background-color:rgb(223, 219, 219);
        }
        #navbar .navbar-nav .nav-link{
            margin: 0px;
            padding: 10px 30px;
        }
        #navbar.navbar-light .navbar-nav .nav-link.active{
            border: none;
            border-left: 4px solid var(--secondary-color);
        }
    /* END NAVBAR */

    /* PAGE BANNER */
        .page-banner{
            height: 120px;
        }
        .page-banner .overlay .title{
            font-size: 30px;
        }
    /* PAGE BANNER */

    /* HOMEPAGE */
        #homepage .carousel-inner .carousel-item{
            height: 450px; 
        }
        #homepage .our-mission,
        #homepage .event{
            margin-top: 20px;
        }
        #homepage .our-mission .content .item{
            height: 350px; 
        }
        #homepage .our-mission .content .item .overlay{
            padding:25px;
        }
        #homepage .our-mission .content .item .card-title{
            padding: 15px;
        }
    /* END HOMEPAGE */

    /* START Event */
        #event .item .image{
            height: 180px;
        }
        #event .item .info .title{
            font-size: 15px;
            margin-bottom: 5px;
            line-height: 17px;
            height: 35px;
            -webkit-line-clamp: 2;
        }
        #event .item .info .date{
            font-size: 13px;
            padding-bottom: 2px;
            margin-bottom: 5px;
        }
        #event .item .info .description{
            font-size: 14px;
            line-height: 16px;
            height: 115px;
            -webkit-line-clamp: 7;
        } 
        #event .item.main .image{
            height: 300px;
        }
        #event .item.main .info .title{
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 26px;
            height: 55px;
            -webkit-line-clamp: 2;
        } 
        #event .item.main .info .date{
            font-size: 15px;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        #event .item.main .info .description{
            font-size: 16px;
            height: 195px;
            line-height: 24px;
            -webkit-line-clamp: 8;
        } 
    /* END EVENT */

    /* FOOTER */
        .footer{
            height: 400px; 
        }
    /* END FOOTER */
}
@media only screen and (max-width:767px){
    /* PAGE BANNER */
        .page-banner{
            height: 100px;
        }
        .page-banner .overlay .title{
            font-size: 25px;
        }
    /* PAGE BANNER */
    /* HOMEPAGE */
        #homepage .carousel-inner .carousel-item{
            height: 350px; 
        }
        #homepage .carousel-inner .carousel-item .carousel-caption{
            bottom: 15%;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 45px;
        }
        #homepage .our-mission .content .item{
            height: 250px; 
        }
        #homepage .our-mission .content .item .overlay{
            padding:30px;
        }
        #homepage .our-mission .content .item .card-title{
            padding: 15px;
        }
        #homepage .event .item .info{
            margin-top: 15px;
        }
        #homepage .our-vision .content{
            padding:0px;
        }
    /* END HOMEPAGE */

    /* START EVENT */
        #event .item .image,
        #event .item.main .image{
            height: 220px;
        }
        #event .item .info .title,
        #event .item.main .info .title{
            font-size: 18px;
            margin-bottom: 8px;
            line-height: 22px;
            height: 42px;
        }
        #event .item .info .date,
        #event .item.main .info .date{
            font-size: 15px;
            padding-bottom: 3px;
            margin-bottom: 8px;
        }
        #event .item .info .description,
        #event .item.main .info .description{
            font-size: 16px;
            line-height: 20px;
            height: 143px;
            -webkit-line-clamp: 7;
        }  
    /* END EVENT */

    .footer{
        height: 530px; 
    }
}
@media only screen and (max-width:568px){
    /* BANNER */
        #homepage .carousel-inner .carousel-item{
            height: 300px; 
        }
        #homepage .carousel .carousel-control-next, 
        #homepage .carousel .carousel-control-prev{
            width: 40px;
            height: 40px;
        }
        #homepage .carousel .carousel-control-next{
            right: 30px;
        }
        #homepage .carousel .carousel-control-prev{
            left: 30px;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption{
            left: 5%;
            right: 5%;
            bottom: 15%;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 40px;
        }
    /* END BANNER */

    /* START EVENT */
        #event .item{
            margin-bottom: 10px;
        }
        #event .item .image,
        #event .item.main .image{
            height: 220px;
        }
        #event .item .info .title,
        #event .item.main .info .title{
            font-size: 18px;
            margin-bottom: 8px;
            margin-top: 10px;
            line-height: 22px;
            height: 42px;
        }
        #event .item .info .date,
        #event .item.main .info .date{
            font-size: 15px;
            padding-bottom: 5px;
            margin-bottom: 8px;
        }
        #event .item .info .description,
        #event .item.main .info .description{
            font-size: 16px;
            line-height: 22px;
            height: 157px;
            -webkit-line-clamp: 7;
        }  
    /* END EVENT */
    
    /* START REGISTER */
        #register .input-group input{
            width: 100%;
        }
    /* END REGISTER */
}
@media only screen and (max-width:420px){
    #navbar .navbar-brand img{
        height: 40px;
    }
    /* HOMEPAGE */
        #homepage .carousel .carousel-control-next, 
        #homepage .carousel .carousel-control-prev{
            display: none;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 35px;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .learn-more{
            display: none;
        }
        #homepage .our-mission .content .item{
            height: 200px; 
        }
        #homepage .our-mission .content .item .overlay{
            padding:25px;
        }
        #homepage .our-mission .content .item .card-title{
            padding: 15px;
            font-size: 16px;
        }
    /* END HOMEPAGE */

    /* START ABOUT */
        #about .member{
            width:100%; 
            height: 500px;
        }
        #about .member .title{
            margin-bottom:50px;
        }
        #about .member .item .info{
            text-align: center;
            color: white;
            margin-top: 10px;
            text-transform: uppercase;
        }
        #about .member .item .info .name{
            font-size: 20px;
        }
        #about .member .item .info .position{
            color: lightgray;
            font-size: 14px;
        }
        #about .member-signin{
            margin-top: -120px;
        }
    /* END ABOUT */

    /* FOOTER */
        .footer{
            height: 530px; 
        }
        .footer .container{
            padding-top: 20px;
        }
    /* END FOOTER */
    
}
@media only screen and (max-width:376px){
    /* PAGE BANNER */
        .page-banner{
            height: 100px;
        }
        .page-banner .overlay .title{
            font-size: 20px;
        }
    /* PAGE BANNER */
    /* BANNER */
        #homepage .carousel-inner .carousel-item{
            height: 250px; 
        }
        #homepage .carousel-inner .carousel-item .carousel-caption{
            left: 5%;
            right: 5%;
            bottom: 12%;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 25px;
        }
    /* END BANNER */
}

/* OWL CAROUSEL */
    .owl-stage{
        margin: 0 auto;
    }
    .owl-theme .owl-prev:focus,
    .owl-theme .owl-next:focus,
    .owl-theme .owl-dots .owl-dot:focus{
        outline: none;
    }
    .owl-theme .owl-dots .owl-dot span{
        border-radius: 50% !important;
        background-color: #656565;
        width: 7px;
        height: 7px;
    }
    .owl-theme .owl-dots .owl-dot.active span{
        background-color: #fff;
        width: 11px;
        height: 11px;
    }
    .owl-theme .owl-nav{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .owl-theme .owl-nav .owl-prev:hover,
    .owl-theme .owl-nav .owl-next:hover{
        background: none;
    }
    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        position: absolute;
        top: 40%;
    }
    .owl-theme .owl-nav .owl-prev{
        left: -40px;
    }
    .owl-theme .owl-nav .owl-next{
        right: -40px;
    }
    .owl-theme .owl-nav .owl-prev i,
    .owl-theme .owl-nav .owl-next i{
        padding: 6px 14px;
        background: rgba(200, 200, 200, 0.2);
        border-radius: 50% !important;
        transition: all 0.5s ease;
    }
    .owl-theme .owl-nav .owl-prev i:hover,
    .owl-theme .owl-nav .owl-next i:hover{
        background: rgba(200, 200, 200, 0.5);
        transition: all 0.5s ease;
    }
/* END OWL CAROUSEL */

/* BUTTON SCROLL UP */
    #btnScrollUp{
        display:none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity:1;
        z-index: 999;
    }
    #btnScrollUp:hover {
        opacity: 1;
        transition: all 0.5s ease;
    }
    #btnScrollUp button{
        background-color:rgba(177, 13, 13, 0.8);
        padding: 10px 15px;
        z-index: 11;
        border-radius: 50% !important;
        border:2px solid white;
    }
    #btnScrollUp button:hover{
        background-color:rgba(177, 13, 13, 1);
        padding: 10px 15px;
        z-index: 11;
        border-radius: 50%;
        
    }
    #btnScrollUp button i{
        color:white;
    }
/* END BUTTON SCROLL UP */

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

